@import '../../../../node_modules/govuk-frontend/govuk/settings/colours-applied.scss';

.app-tags {
  background-color: govuk-colour('light-grey');

  &__element {
    display: inline-block;
    border: 1px solid govuk-colour('dark-grey');
    border-radius: 5px;
    padding: 10px;
  }
}
