{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  {{ govukPanel({
    attributes: {
      id: "request-sent-panel"
    },
    titleText: "Request sent"
  }) }}

  <h2 id="what-happens-next" class="govuk-heading-m">What happens next</h2>

  <p id="email-confirmation-text" class="govuk-body">You should receive a confirmation email in the next 24 hours to confirm your request has been successfully submitted. If you don't get this, please resubmit your request or contact us.</p>
  
  <p id="timescale-text" class="govuk-body">You should receive a response to your request within the next {{ timescale }} working days.</p>

  <p class="govuk-body govuk-!-margin-bottom-9">
    <a id="feedback-link" href="#" class="govuk-link">What did you think of this service?</a> <span id="feedback-link-additional-info">(takes 30 seconds)</span>
  </p>
{% endblock %}
