{% extends "form-layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block formContent %}

  <h1 id="page-heading" class="govuk-heading-xl">{{ pageHeading }}</h1>

  {% if not isSearchMode %}

    {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "<span id=\"summary-list-permit-key\">Permit</span>"
            },
            value: {
              html: "<span id=\"summary-list-permit-value\">" + permitDetails.permitNumber + "</span>"
            }
          },{
            key: {
              html: "<span id=\"summary-list-site-key\">Facility name</span>"
            },
            value: {
              html: "<span id=\"summary-list-site-value\">" + permitDetails.site + "</span>"
            }
          },{
            key: {
              html: "<span id=\"summary-list-register-key\">Register</span>"
            },
            value: {
              html: "<span id=\"summary-list-register-value\">" + permitDetails.register + "</span>"
            }
          },
          {
            key: {
              html: "<span id=\"summary-list-address-key\">Address</span>"
            },
            value: {
              html: "<span id=\"summary-list-address-value\">" + permitDetails.address + "</span>"
            }
          },
          {
            key: {
              html: "<span id=\"summary-list-postcode-key\">Postcode</span>"
            },
            value: {
              html: "<span id=\"summary-list-postcode-value\">" + permitDetails.postcode + "</span>"
            }
          }
        ]
      }) }}
    {% endif %}

    {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "whatDoYouNeed",
        name: "whatDoYouNeed",
        fieldset: {
          legend: {
            text: "What do you need?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        errorMessage: fieldErrors['whatDoYouNeed'],
        items: whatDoYouNeedOptions
      }) }}

  {{  govukCharacterCount({
        name: "furtherInformation",
        id: "furtherInformation",
        value: furtherInformation,
        maxlength: maxlength,
        label: {
          text: "Please provide further information",
          classes: "govuk-label--m"
        },
        errorMessage: fieldErrors['furtherInformation']
      })
  }}

  {{  
    govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m"
        },
        hint: {
          text: "We will send responses to this address"
        },
        id: "email",
        name: "email",
        type: "email",
        value: email,
        autocomplete: "email",
        errorMessage: fieldErrors['email'],
        spellcheck: false
      })
  }}

  {{ govukButton({
      attributes: {
        id: "continue-button"
      },
      text: "Continue"
    })
  }}

{% endblock %}
