{% extends "layout.njk" %}

{% block content %}
  <h1 id="unable-to-download-heading" class="govuk-heading-xl">{{ pageHeading }}</h1>
  <p id="file-not-found-message" class="govuk-body">A file named <span id="file-id" class="govuk-body govuk-!-font-weight-bold">{{ id }}</span> could not be found.</p>
{% endblock %}
