{% extends "form-layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set permitNumberHtml %}
  {{ govukInput({
    id: "permitNumber",
    name: "permitNumber",
    type: "text",
    spellcheck: false,
    classes: "govuk-!-width-one-third",
    label: {
      text: "Permit number"
    },
    errorMessage: fieldErrors['permitNumber'],
    value: permitNumber
  }) }}
{% endset -%}

{% set eprReferral %}
  <p id="redirection-message" class="govuk-body">You will be redirected to the Electronic Public Register search page to assist you in finding the record you are looking for</p>
{% endset -%}

{% block formContent %}
  {{ govukRadios({
    idPrefix: "knowPermitNumber",
    name: "knowPermitNumber",
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: fieldErrors['knowPermitNumber'],
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: knowPermitNumber === "yes",
        conditional: {
          html: permitNumberHtml
        }
      },
      {          
        value: "no",
        text: "No",
        checked: knowPermitNumber === "no",
        conditional: {
          html: eprReferral
        }
      }
    ]
  }) }}

  {{ govukButton({
      attributes: {
        id: "continue-button"
      },
      text: "Continue",
      classes: "govuk-button"
  }) }}

{% endblock %}
