{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
    {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <form method="post" autocomplete="off" novalidate="novalidate">
        {# {% block CsrfToken %}
            <input id="csrf-crumb" type="hidden" name="CsrfToken" value="{{ CsrfToken }}">
        {% endblock %} #}

        {% block formContent %}
        {% endblock %}
     
        <button id="continue-button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
{% endblock %}
