{% extends "form-layout.njk" %}

{% block formContent %}
    <h1 id="home-page-heading" class="govuk-heading-xl">{{ pageHeading }}</h1>
    <p id="home-page-body" class="govuk-body">{{ pageText }}</p>
{% endblock %}
