{% extends "layout.njk" %}

{% block content %}
  <h1 id="page-heading" class="govuk-heading-xl">{{ pageHeading }}</h1>
  <p id="permit-not-found-message" class="govuk-body">Permit number <span id="permit-number" class="govuk-body govuk-!-font-weight-bold">{{ permitNumber }}</span> could not be found.</p>
{% endblock %}
