{% extends "form-layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block formContent %}
  {{ govukRadios({
    idPrefix: "register",
    name: "register",
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: fieldErrors['register'],
    items: [
      {
        value: "Waste Operations",
        text: "Waste Operations",
        checked: true
      },
      {          
        value: "End of Life Vehicles (ATF Register)",
        text: "End of Life Vehicles (ATF Register)"
      },
      {
        value: "Installations",
        text: "Installations"
      },
      {
        value: "Radioactive Substances",
        text: "Radioactive Substances"
      },
      {
        value: "Discharges to water and groundwater",
        text: "Discharges to water and groundwater"
      }
    ]
  }) }}

  {{ govukButton({
      attributes: {
        id: "continue-button"
      },
      text: "Continue",
      classes: "govuk-button"
  }) }}

{% endblock %}
