{% extends "layout.njk" %}

{% block content %}
  <h1 id="page-heading" class="govuk-heading-xl">{{ pageHeading }}</h1>

  <p id="paragraph-1" class="govuk-body">Sorry, there has been a technical problem.</p>
  <p id="paragraph-2" class="govuk-body">You can try going back.</p>
  <p id="paragraph-3" class="govuk-body">If the problem happens again, you could try waiting for 5 minutes and then go back and reload the page.</p>
  <p id="paragraph-4" class="govuk-body">You do not need to tell us about this problem because the system will send us a message.</p>
{% endblock %}
