@import '../../../../node_modules/govuk-frontend/govuk/settings/colours-applied.scss';

$border-width: 5px;

.expander {
  cursor: pointer;

  &__icon {
    width: 40px;
    position: relative;
    top: 13px;

    &--rotated {
      transform: rotate(180deg);
    }
  }

  &__header {
    color: $govuk-link-colour;
    margin-bottom: 15px;
    border-bottom: $border-width solid rgba(255, 255, 255, 0);
  }
  &__header:hover {
    text-decoration: underline;
  }
  &__header:active {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    border-bottom: $border-width solid $govuk-focus-text-colour;
  }
  &__header:focus {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    border-bottom: $border-width solid $govuk-focus-text-colour;
  }

  &__content {
    &--hidden {
      display: none;
    }
  }
}
