@import '../../../../node_modules/govuk-frontend/govuk/settings/colours-applied.scss';

$hover-color: govuk-colour('light-grey');

$border-width: 5px;

.app-pagination {
  &__item {
    border-bottom: $border-width solid rgba(255, 255, 255, 0);
    cursor: pointer;
  }

  &__item:hover {
    background-color: $hover-color;
  }

  &__item:link {
    color: $govuk-link-colour;
  }

  &__item:visited {
    color: $govuk-link-colour;
  }

  &__item:hover {
    color: $govuk-link-hover-colour;
  }

  &__item:active {
    color: $govuk-link-active-colour;
    background-color: $govuk-focus-colour;
    border-bottom: $border-width solid $govuk-link-active-colour;
  }

  &__item:focus {
    color: $govuk-link-active-colour;
  }

  &__link {
    display: flex;
    text-decoration: none;
    color: $govuk-link-colour;
  }
  &__link:hover {
    color: $govuk-link-colour;
  }

  &__page-counter {
    text-decoration: underline;
    color: $govuk-link-colour;
  }
}
